html, body {
    margin: 0;
}

.main-content {
    padding: 2.5 * $unit;
}

.container {

    display: flex;

    .column {

        padding: $unit;
        height: 70 * $unit;

        &.small {
            min-width: 8 * $unit;
            padding-right: 0;
        }

        &.large {
            min-width: 60 * $unit;
        }

        &.no-padding {
            padding-top: 0;
            padding-bottom: 0;
        }
        
    }
}