@import "variables";
@import 'grid';
@import "typography";

.times {

    position: relative;
    margin: -20px 0 0 0;
    padding: 0;
    list-style: none;

    .time-interval {

        position: absolute;
        left: 10px;
        right: 10px;

        .time {

            font-size: $unit;
            text-align: right;

            &.full-hour {

                font-size: 1.4 * $unit;
                font-weight: bold;
            }
        }

        .ampm {

            margin-left: 0.5 * $unit;
            font-size: $unit;
            font-weight: normal;
        }
    }
}



.events {
    height: 100%;
    background: $bg;
    position: relative;


    .event {
        position: absolute;
        background: $secondary-bg;
        border-left: 0.5 * $unit solid $primary-color;

        &.one {
            background: pink;
            top: 30px;
            left: 10px;
            right: 10px;
            bottom: (720px - 150px);
        }

        &.two {
            background: blue;
            top: 540px;
            left: 10px;
            right: 310px;
            bottom: (720px - 600px);
        }

        &.three {
            background: yellow;
            top: 560px;
            left: 310px;
            right: 10px;
            bottom: (720px - 620px);
        }

        &.four {
            background: red;
            top: 610px;
            left: 10px;
            right: 310px;
            bottom: (720px - 670px);
        }
    }

}